body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 100px;
    background-color: #f5f5f5;
}

h1 {
    text-align: center;
    padding: 33px;
    color: #333;
    font-size: 50px;
}


#resultado {
    font-weight: bold;
    color: #5b05a7;
    font-size: 33px;
    
}